body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-185px;
  width:380px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1 {
  position:absolute;
  left:185px;
  top:50px;
  width:380px;
  height:676px;
}
#u1_img {
  position:absolute;
  left:0px;
  top:0px;
  width:380px;
  height:676px;
}
#u2 {
  position:absolute;
  left:2px;
  top:330px;
  width:376px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3 {
  position:absolute;
  left:185px;
  top:50px;
  width:380px;
  height:64px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:23px;
  color:#FFFFFF;
}
#u3_img {
  position:absolute;
  left:0px;
  top:0px;
  width:380px;
  height:64px;
}
#u4 {
  position:absolute;
  left:2px;
  top:24px;
  width:376px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5 {
  position:absolute;
  left:205px;
  top:80px;
  width:10px;
  height:17px;
  -webkit-transform:rotate(135deg);
  -moz-transform:rotate(135deg);
  -ms-transform:rotate(135deg);
  transform:rotate(135deg);
}
#u5_start {
  position:absolute;
  left:-5px;
  top:0px;
  width:20px;
  height:18px;
}
#u5_end {
  position:absolute;
  left:-5px;
  top:0px;
  width:20px;
  height:18px;
}
#u5_line {
  position:absolute;
  left:5px;
  top:0px;
  width:1px;
  height:17px;
}
#u6 {
  position:absolute;
  left:205px;
  top:67px;
  width:10px;
  height:18px;
  -webkit-transform:rotate(45deg);
  -moz-transform:rotate(45deg);
  -ms-transform:rotate(45deg);
  transform:rotate(45deg);
}
#u6_start {
  position:absolute;
  left:-5px;
  top:0px;
  width:20px;
  height:18px;
}
#u6_end {
  position:absolute;
  left:-5px;
  top:1px;
  width:20px;
  height:18px;
}
#u6_line {
  position:absolute;
  left:5px;
  top:0px;
  width:1px;
  height:18px;
}
#u7 {
  position:absolute;
  left:188px;
  top:57px;
  width:50px;
  height:50px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u8 {
  position:absolute;
  left:269px;
  top:66px;
  width:212px;
  height:32px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:23px;
  color:#FFFFFF;
  text-align:center;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:212px;
  height:32px;
}
#u9 {
  position:absolute;
  left:0px;
  top:0px;
  width:212px;
  word-wrap:break-word;
}
#u10 {
  position:absolute;
  left:185px;
  top:117px;
  width:380px;
  height:609px;
  overflow:hidden;
}
#u10_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:380px;
  height:609px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u10_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u11 {
  position:absolute;
  left:0px;
  top:0px;
  width:380px;
  height:80px;
}
#u11_img {
  position:absolute;
  left:0px;
  top:0px;
  width:380px;
  height:80px;
}
#u12 {
  position:absolute;
  left:2px;
  top:32px;
  width:376px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13 {
  position:absolute;
  left:11px;
  top:10px;
  width:49px;
  height:33px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
}
#u13_img {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:33px;
}
#u14 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u15 {
  position:absolute;
  left:10px;
  top:41px;
  width:165px;
  height:28px;
  font-size:18px;
  color:#008000;
}
#u15_img {
  position:absolute;
  left:0px;
  top:0px;
  width:165px;
  height:28px;
}
#u16 {
  position:absolute;
  left:0px;
  top:4px;
  width:165px;
  word-wrap:break-word;
}
#u17 {
  position:absolute;
  left:311px;
  top:32px;
  width:43px;
  height:20px;
  font-size:14px;
  color:#FFCC33;
  text-align:right;
}
#u17_img {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:20px;
}
#u18 {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
#u19 {
  position:absolute;
  left:0px;
  top:80px;
  width:380px;
  height:80px;
}
#u19_img {
  position:absolute;
  left:0px;
  top:0px;
  width:380px;
  height:80px;
}
#u20 {
  position:absolute;
  left:2px;
  top:32px;
  width:376px;
  visibility:hidden;
  word-wrap:break-word;
}
#u21 {
  position:absolute;
  left:11px;
  top:90px;
  width:49px;
  height:33px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
}
#u21_img {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:33px;
}
#u22 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u23 {
  position:absolute;
  left:10px;
  top:121px;
  width:165px;
  height:28px;
  font-size:18px;
  color:#008000;
}
#u23_img {
  position:absolute;
  left:0px;
  top:0px;
  width:165px;
  height:28px;
}
#u24 {
  position:absolute;
  left:0px;
  top:4px;
  width:165px;
  word-wrap:break-word;
}
#u25 {
  position:absolute;
  left:297px;
  top:112px;
  width:71px;
  height:20px;
  font-size:14px;
  color:#FFCC33;
  text-align:right;
}
#u25_img {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:20px;
}
#u26 {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  white-space:nowrap;
}
#u27 {
  position:absolute;
  left:0px;
  top:160px;
  width:380px;
  height:80px;
}
#u27_img {
  position:absolute;
  left:0px;
  top:0px;
  width:380px;
  height:80px;
}
#u28 {
  position:absolute;
  left:2px;
  top:32px;
  width:376px;
  visibility:hidden;
  word-wrap:break-word;
}
#u29 {
  position:absolute;
  left:11px;
  top:170px;
  width:49px;
  height:33px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
}
#u29_img {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:33px;
}
#u30 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u31 {
  position:absolute;
  left:10px;
  top:201px;
  width:165px;
  height:28px;
  font-size:18px;
  color:#008000;
}
#u31_img {
  position:absolute;
  left:0px;
  top:0px;
  width:165px;
  height:28px;
}
#u32 {
  position:absolute;
  left:0px;
  top:4px;
  width:165px;
  word-wrap:break-word;
}
#u33 {
  position:absolute;
  left:311px;
  top:192px;
  width:43px;
  height:20px;
  font-size:14px;
  color:#FFCC33;
  text-align:right;
}
#u33_img {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:20px;
}
#u34 {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
#u35 {
  position:absolute;
  left:0px;
  top:240px;
  width:380px;
  height:80px;
}
#u35_img {
  position:absolute;
  left:0px;
  top:0px;
  width:380px;
  height:80px;
}
#u36 {
  position:absolute;
  left:2px;
  top:32px;
  width:376px;
  visibility:hidden;
  word-wrap:break-word;
}
#u37 {
  position:absolute;
  left:11px;
  top:250px;
  width:49px;
  height:33px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
}
#u37_img {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:33px;
}
#u38 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u39 {
  position:absolute;
  left:10px;
  top:281px;
  width:165px;
  height:28px;
  font-size:18px;
  color:#008000;
}
#u39_img {
  position:absolute;
  left:0px;
  top:0px;
  width:165px;
  height:28px;
}
#u40 {
  position:absolute;
  left:0px;
  top:4px;
  width:165px;
  word-wrap:break-word;
}
#u41 {
  position:absolute;
  left:311px;
  top:272px;
  width:43px;
  height:20px;
  font-size:14px;
  color:#FF0000;
  text-align:right;
}
#u41_img {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:20px;
}
#u42 {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
#u10_state1 {
  position:absolute;
  left:0px;
  top:0px;
  width:380px;
  height:609px;
  visibility:hidden;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u10_state1_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u43 {
  position:absolute;
  left:0px;
  top:0px;
  width:380px;
  height:80px;
}
#u43_img {
  position:absolute;
  left:0px;
  top:0px;
  width:380px;
  height:80px;
}
#u44 {
  position:absolute;
  left:2px;
  top:32px;
  width:376px;
  visibility:hidden;
  word-wrap:break-word;
}
#u45 {
  position:absolute;
  left:11px;
  top:10px;
  width:121px;
  height:33px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  color:#FFCC33;
}
#u45_img {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:33px;
}
#u46 {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  white-space:nowrap;
}
#u47 {
  position:absolute;
  left:10px;
  top:44px;
  width:285px;
  height:28px;
  font-size:18px;
  color:#FF0000;
}
#u47_img {
  position:absolute;
  left:0px;
  top:0px;
  width:285px;
  height:28px;
}
#u48 {
  position:absolute;
  left:0px;
  top:2px;
  width:285px;
  word-wrap:break-word;
}
#u49 {
  position:absolute;
  left:0px;
  top:80px;
  width:380px;
  height:80px;
}
#u49_img {
  position:absolute;
  left:0px;
  top:0px;
  width:380px;
  height:80px;
}
#u50 {
  position:absolute;
  left:2px;
  top:32px;
  width:376px;
  visibility:hidden;
  word-wrap:break-word;
}
#u51 {
  position:absolute;
  left:11px;
  top:90px;
  width:120px;
  height:33px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  color:#FFCC33;
}
#u51_img {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:33px;
}
#u52 {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  white-space:nowrap;
}
#u53 {
  position:absolute;
  left:10px;
  top:124px;
  width:305px;
  height:28px;
  font-size:18px;
  color:#FF0000;
}
#u53_img {
  position:absolute;
  left:0px;
  top:0px;
  width:305px;
  height:28px;
}
#u54 {
  position:absolute;
  left:0px;
  top:2px;
  width:305px;
  word-wrap:break-word;
}
#u55 {
  position:absolute;
  left:0px;
  top:160px;
  width:380px;
  height:80px;
}
#u55_img {
  position:absolute;
  left:0px;
  top:0px;
  width:380px;
  height:80px;
}
#u56 {
  position:absolute;
  left:2px;
  top:32px;
  width:376px;
  visibility:hidden;
  word-wrap:break-word;
}
#u57 {
  position:absolute;
  left:11px;
  top:170px;
  width:97px;
  height:33px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  color:#FFCC33;
}
#u57_img {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:33px;
}
#u58 {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  white-space:nowrap;
}
#u59 {
  position:absolute;
  left:10px;
  top:204px;
  width:305px;
  height:28px;
  font-size:18px;
  color:#FF0000;
}
#u59_img {
  position:absolute;
  left:0px;
  top:0px;
  width:305px;
  height:28px;
}
#u60 {
  position:absolute;
  left:0px;
  top:2px;
  width:305px;
  word-wrap:break-word;
}
#u61 {
  position:absolute;
  left:0px;
  top:240px;
  width:380px;
  height:80px;
}
#u61_img {
  position:absolute;
  left:0px;
  top:0px;
  width:380px;
  height:80px;
}
#u62 {
  position:absolute;
  left:2px;
  top:32px;
  width:376px;
  visibility:hidden;
  word-wrap:break-word;
}
#u63 {
  position:absolute;
  left:11px;
  top:250px;
  width:97px;
  height:33px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  color:#FFCC33;
}
#u63_img {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:33px;
}
#u64 {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  white-space:nowrap;
}
#u65 {
  position:absolute;
  left:10px;
  top:284px;
  width:305px;
  height:28px;
  font-size:18px;
  color:#FF0000;
}
#u65_img {
  position:absolute;
  left:0px;
  top:0px;
  width:305px;
  height:28px;
}
#u66 {
  position:absolute;
  left:0px;
  top:2px;
  width:305px;
  word-wrap:break-word;
}
#u67 {
  position:absolute;
  left:0px;
  top:320px;
  width:380px;
  height:80px;
}
#u67_img {
  position:absolute;
  left:0px;
  top:0px;
  width:380px;
  height:80px;
}
#u68 {
  position:absolute;
  left:2px;
  top:32px;
  width:376px;
  visibility:hidden;
  word-wrap:break-word;
}
#u69 {
  position:absolute;
  left:11px;
  top:330px;
  width:49px;
  height:33px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  color:#FFCC33;
}
#u69_img {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:33px;
}
#u70 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u71 {
  position:absolute;
  left:10px;
  top:364px;
  width:305px;
  height:28px;
  font-size:18px;
  color:#FF0000;
}
#u71_img {
  position:absolute;
  left:0px;
  top:0px;
  width:305px;
  height:28px;
}
#u72 {
  position:absolute;
  left:0px;
  top:2px;
  width:305px;
  word-wrap:break-word;
}
#u10_state2 {
  position:absolute;
  left:0px;
  top:0px;
  width:380px;
  height:609px;
  visibility:hidden;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u10_state2_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u73 {
  position:absolute;
  left:0px;
  top:0px;
  width:380px;
  height:556px;
}
#u73_img {
  position:absolute;
  left:0px;
  top:0px;
  width:380px;
  height:556px;
}
#u74 {
  position:absolute;
  left:2px;
  top:270px;
  width:376px;
  visibility:hidden;
  word-wrap:break-word;
}
