body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-185px;
  width:380px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:185px;
  top:50px;
  width:380px;
  height:676px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:380px;
  height:676px;
}
#u1 {
  position:absolute;
  left:2px;
  top:330px;
  width:376px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:185px;
  top:50px;
  width:380px;
  height:64px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:23px;
  color:#FFFFFF;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:380px;
  height:64px;
}
#u3 {
  position:absolute;
  left:2px;
  top:16px;
  width:376px;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:240px;
  top:231px;
  width:30px;
  height:30px;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u5 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6 {
  position:absolute;
  left:240px;
  top:288px;
  width:30px;
  height:30px;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u7 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8 {
  position:absolute;
  left:240px;
  top:271px;
  width:290px;
  height:10px;
}
#u8_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u8_end {
  position:absolute;
  left:273px;
  top:-5px;
  width:18px;
  height:20px;
}
#u8_line {
  position:absolute;
  left:0px;
  top:5px;
  width:290px;
  height:1px;
}
#u9 {
  position:absolute;
  left:280px;
  top:231px;
  width:250px;
  height:30px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#E4E4E4;
}
#u9_img {
  position:absolute;
  left:0px;
  top:0px;
  width:250px;
  height:30px;
}
#u10 {
  position:absolute;
  left:2px;
  top:6px;
  width:246px;
  word-wrap:break-word;
}
#u11 {
  position:absolute;
  left:280px;
  top:288px;
  width:170px;
  height:30px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#E4E4E4;
}
#u11_img {
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  height:30px;
}
#u12 {
  position:absolute;
  left:2px;
  top:6px;
  width:166px;
  word-wrap:break-word;
}
#u13 {
  position:absolute;
  left:205px;
  top:80px;
  width:10px;
  height:17px;
  -webkit-transform:rotate(135deg);
  -moz-transform:rotate(135deg);
  -ms-transform:rotate(135deg);
  transform:rotate(135deg);
}
#u13_start {
  position:absolute;
  left:-5px;
  top:0px;
  width:20px;
  height:18px;
}
#u13_end {
  position:absolute;
  left:-5px;
  top:0px;
  width:20px;
  height:18px;
}
#u13_line {
  position:absolute;
  left:5px;
  top:0px;
  width:1px;
  height:17px;
}
#u14 {
  position:absolute;
  left:205px;
  top:67px;
  width:10px;
  height:18px;
  -webkit-transform:rotate(45deg);
  -moz-transform:rotate(45deg);
  -ms-transform:rotate(45deg);
  transform:rotate(45deg);
}
#u14_start {
  position:absolute;
  left:-5px;
  top:0px;
  width:20px;
  height:18px;
}
#u14_end {
  position:absolute;
  left:-5px;
  top:1px;
  width:20px;
  height:18px;
}
#u14_line {
  position:absolute;
  left:5px;
  top:0px;
  width:1px;
  height:18px;
}
#u15 {
  position:absolute;
  left:188px;
  top:57px;
  width:50px;
  height:50px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u16 {
  position:absolute;
  left:240px;
  top:345px;
  width:30px;
  height:30px;
}
#u16_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u17 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u18 {
  position:absolute;
  left:240px;
  top:328px;
  width:290px;
  height:10px;
}
#u18_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u18_end {
  position:absolute;
  left:273px;
  top:-5px;
  width:18px;
  height:20px;
}
#u18_line {
  position:absolute;
  left:0px;
  top:5px;
  width:290px;
  height:1px;
}
#u19 {
  position:absolute;
  left:280px;
  top:345px;
  width:250px;
  height:30px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#E4E4E4;
}
#u19_img {
  position:absolute;
  left:0px;
  top:0px;
  width:250px;
  height:30px;
}
#u20 {
  position:absolute;
  left:2px;
  top:6px;
  width:246px;
  word-wrap:break-word;
}
#u21 {
  position:absolute;
  left:240px;
  top:400px;
  width:30px;
  height:30px;
}
#u21_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u22 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23 {
  position:absolute;
  left:240px;
  top:383px;
  width:290px;
  height:10px;
}
#u23_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u23_end {
  position:absolute;
  left:273px;
  top:-5px;
  width:18px;
  height:20px;
}
#u23_line {
  position:absolute;
  left:0px;
  top:5px;
  width:290px;
  height:1px;
}
#u24 {
  position:absolute;
  left:280px;
  top:400px;
  width:250px;
  height:30px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#E4E4E4;
}
#u24_img {
  position:absolute;
  left:0px;
  top:0px;
  width:250px;
  height:30px;
}
#u25 {
  position:absolute;
  left:2px;
  top:6px;
  width:246px;
  word-wrap:break-word;
}
#u26 {
  position:absolute;
  left:463px;
  top:288px;
  width:67px;
  height:30px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u26_img {
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  height:30px;
}
#u27 {
  position:absolute;
  left:2px;
  top:6px;
  width:63px;
  word-wrap:break-word;
}
#u28 {
  position:absolute;
  left:240px;
  top:463px;
  width:287px;
  height:45px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#FFCC33;
}
#u28_img {
  position:absolute;
  left:0px;
  top:0px;
  width:287px;
  height:45px;
}
#u29 {
  position:absolute;
  left:2px;
  top:8px;
  width:283px;
  word-wrap:break-word;
}
#u30 {
  position:absolute;
  left:240px;
  top:463px;
  width:287px;
  height:45px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
