body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:565px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1 {
  position:absolute;
  left:185px;
  top:50px;
  width:380px;
  height:676px;
}
#u1_img {
  position:absolute;
  left:0px;
  top:0px;
  width:380px;
  height:676px;
}
#u2 {
  position:absolute;
  left:2px;
  top:330px;
  width:376px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3 {
  position:absolute;
  left:185px;
  top:50px;
  width:380px;
  height:64px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:23px;
  color:#FFFFFF;
}
#u3_img {
  position:absolute;
  left:0px;
  top:0px;
  width:380px;
  height:64px;
}
#u4 {
  position:absolute;
  left:2px;
  top:24px;
  width:376px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5 {
  position:absolute;
  left:185px;
  top:50px;
  width:380px;
  height:64px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:23px;
  color:#FFFFFF;
}
#u5_img {
  position:absolute;
  left:0px;
  top:0px;
  width:380px;
  height:64px;
}
#u6 {
  position:absolute;
  left:2px;
  top:16px;
  width:376px;
  word-wrap:break-word;
}
#u7 {
  position:absolute;
  left:205px;
  top:80px;
  width:10px;
  height:17px;
  -webkit-transform:rotate(135deg);
  -moz-transform:rotate(135deg);
  -ms-transform:rotate(135deg);
  transform:rotate(135deg);
}
#u7_start {
  position:absolute;
  left:-5px;
  top:0px;
  width:20px;
  height:18px;
}
#u7_end {
  position:absolute;
  left:-5px;
  top:0px;
  width:20px;
  height:18px;
}
#u7_line {
  position:absolute;
  left:5px;
  top:0px;
  width:1px;
  height:17px;
}
#u8 {
  position:absolute;
  left:205px;
  top:67px;
  width:10px;
  height:18px;
  -webkit-transform:rotate(45deg);
  -moz-transform:rotate(45deg);
  -ms-transform:rotate(45deg);
  transform:rotate(45deg);
}
#u8_start {
  position:absolute;
  left:-5px;
  top:0px;
  width:20px;
  height:18px;
}
#u8_end {
  position:absolute;
  left:-5px;
  top:1px;
  width:20px;
  height:18px;
}
#u8_line {
  position:absolute;
  left:5px;
  top:0px;
  width:1px;
  height:18px;
}
#u9 {
  position:absolute;
  left:188px;
  top:57px;
  width:50px;
  height:50px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u10 {
  position:absolute;
  left:201px;
  top:140px;
  width:350px;
  height:340px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:350px;
  height:340px;
}
#u11 {
  position:absolute;
  left:2px;
  top:161px;
  width:346px;
  word-wrap:break-word;
}
#u12 {
  position:absolute;
  left:218px;
  top:620px;
  width:333px;
  height:18px;
  text-align:center;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:333px;
  height:18px;
}
#u13 {
  position:absolute;
  left:0px;
  top:0px;
  width:333px;
  word-wrap:break-word;
}
